@charset "utf-8";
/* CSS Document */

$primaryColor: green;

$secondaryColor: red;


@import 'gradientMixin';	/* looks for a file call gradient.scss */


.applyGradient { @include verticalGradient($primaryColor, $secondaryColor) }

.scssDisplay	{
	color:white;
	font-size:24px;	
}